.form{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px;
}

.form form{
    max-width: 30%;
    background-color: #F7F7F7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0,0,0,.3);
    padding: 8px 100px;
}

.form h2{
    font-size: 32px;
    font-weight: 400px;
    color: #212121;
}